Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Removing sheer from urls.py
  cfgov/cfgov/settings/base.py
  cfgov/cfgov/urls.py
Due: backend

Bump TDP release version to 0.5.14
  requirements/optional-public.txt
Due: none

Updated missed OAH feedback notice
  cfgov/jinja2/v1/owning-a-home/_templates/ratings-form.html
  cfgov/unprocessed/apps/owning-a-home/css/form-resources.less
  test/unit_tests/apps/owning-a-home/js/ratings-form-spec.js
Due: none

Hopefully last
  cfgov/jinja2/v1/_includes/blocks/heading.html
  cfgov/jinja2/v1/_includes/organisms/info-unit-group-2.html
  cfgov/jinja2/v1/_includes/organisms/table.html
Due: none

More review fixes
  cfgov/jinja2/v1/_includes/molecules/notification.html
  cfgov/jinja2/v1/owning-a-home/_templates/brand-header.html
Due: none

Review fix
  cfgov/jinja2/v1/owning-a-home/_templates/form-explainer.html
Due: none

Fixed whitespace
  cfgov/jinja2/v1/_includes/blocks/heading.html
  cfgov/jinja2/v1/_includes/organisms/info-unit-group-2.html
  cfgov/jinja2/v1/_includes/organisms/table.html
Due: none

Fixed the breadcrumb icon location
  cfgov/jinja2/v1/_includes/molecules/breadcrumbs.html
Due: none

Minor fixes
  cfgov/jinja2/v1/_includes/molecules/contact-email.html
  cfgov/jinja2/v1/_includes/organisms/email-popup/base.html
  cfgov/unprocessed/css/molecules/global-header-cta.less
  codecov.yml
  test/unit_tests/apps/owning-a-home/js/ratings-form-spec.js
  test/unit_tests/js/modules/footer-button-spec.js
Due: none

Replaced icon names
  cfgov/jinja2/v1/govdelivery-subscribe/success/index.html
  cfgov/jinja2/v1/owning-a-home/_templates/form-explainer.html
  cfgov/jinja2/v1/owning-a-home/_templates/ratings-form.html
  cfgov/jinja2/v1/regulation-comment/success/index.html
Due: none

Last fixes
  cfgov/unprocessed/css/organisms/footer.less
  cfgov/unprocessed/css/pages/event.less
Due: none

Removing unnecessary changes
  cfgov/jinja2/v1/index.html
  cfgov/jinja2/v1/regulation-comment/success/index.html
  cfgov/unprocessed/js/modules/util/add-email-popup.js
  cfgov/unprocessed/js/organisms/EmailPopup.js
  cfgov/unprocessed/js/organisms/FormSubmit.js
  test/unit_tests/js/modules/util/add-email-popup-spec.js
  test/unit_tests/js/organisms/EmailPopup-spec.js
Due: frontend

Review fixes
  cfgov/jinja2/v1/_includes/organisms/filterable-list-controls.html
  cfgov/jinja2/v1/_includes/organisms/header.html
  cfgov/wellbeing/jinja2/wellbeing/results.html
Due: none

Test the notification message and explanation
  cfgov/unprocessed/js/molecules/Notification.js
  test/unit_tests/js/molecules/Notification-spec.js
Due: frontend

Reduced duplicate tests
  test/unit_tests/js/molecules/Notification-spec.js
Due: none

Update cf-notifications
  cfgov/jinja2/v1/_includes/blocks/feedback.html
  cfgov/jinja2/v1/_includes/molecules/notification.html
  cfgov/jinja2/v1/_includes/organisms/email-popup/base.html
  cfgov/jinja2/v1/_includes/organisms/email-signup.html
  cfgov/jinja2/v1/_includes/organisms/filterable-list-controls.html
  cfgov/jinja2/v1/_includes/organisms/header.html
  cfgov/jinja2/v1/_includes/organisms/mortgage-map.html
  cfgov/jinja2/v1/owning-a-home/_templates/email-signup.html
  cfgov/jinja2/v1/owning-a-home/_templates/no_js.html
  cfgov/jinja2/v1/owning-a-home/explore-rates/index.html
  cfgov/unprocessed/apps/owning-a-home/css/explore-rates.less
  cfgov/unprocessed/css/organisms/email-popup.less
  cfgov/unprocessed/js/molecules/Notification.js
  cfgov/unprocessed/js/organisms/MortgagePerformanceTrends/apps/map.js
  cfgov/wellbeing/jinja2/wellbeing/results.html
  docs/atomic-structure.md
  package-lock.json
  package.json
  test/unit_tests/js/organisms/EmailPopup-spec.js
Due: frontend

Converted to notification macro where possible
  cfgov/jinja2/v1/_includes/molecules/notification.html
  cfgov/jinja2/v1/_includes/organisms/header.html
  cfgov/jinja2/v1/_includes/organisms/mortgage-map.html
  cfgov/jinja2/v1/owning-a-home/explore-rates/index.html
  cfgov/wellbeing/jinja2/wellbeing/results.html
Due: none

Change navigation landmark label
  cfgov/jinja2/v1/_includes/organisms/mega-menu.html
Due: none

Remove role="navigation"
  cfgov/jinja2/v1/_includes/organisms/mega-menu.html
Due: none

Adds underlines to mega menu footer links
  cfgov/jinja2/v1/_includes/organisms/_vars-mega-menu.html
  cfgov/unprocessed/css/organisms/mega-menu.less
Due: none

Fix typo in check-round icon name
  cfgov/jinja2/v1/govdelivery-subscribe/success/index.html
  cfgov/jinja2/v1/owning-a-home/_templates/form-explainer.html
  cfgov/jinja2/v1/owning-a-home/_templates/ratings-form.html
  cfgov/jinja2/v1/regulation-comment/success/index.html
Due: none

Adds tabtrigger module
  cfgov/jinja2/v1/_includes/molecules/global-search.html
  cfgov/jinja2/v1/_includes/organisms/mega-menu.html
  cfgov/unprocessed/js/modules/TabTrigger.js
  cfgov/unprocessed/js/molecules/GlobalSearch.js
  cfgov/unprocessed/js/organisms/MegaMenu.js
Due: frontend

Fix linter error
  cfgov/unprocessed/js/modules/TabTrigger.js
Due: frontend

Run ondemand subtask with default gulp scripts run
  gulp/tasks/scripts.js
Due: none

remove some deprecated pieces of sheerlike
  cfgov/cfgov/settings/base.py
  cfgov/sheerlike/admin.py
  cfgov/sheerlike/apps.py
  cfgov/sheerlike/models.py
  cfgov/sheerlike/sites.py
Due: backend

Rename variable
  cfgov/unprocessed/js/modules/TabTrigger.js
Due: frontend

Fix condition for displaying fmc
  cfgov/jinja2/v1/_includes/organisms/mega-menu.html
Due: none

Make README shell commands more copy-paste-able
  README.md
Due: none

Fix typos
  docs/django-to-wagtail.md
Due: none

Bump TDP release version to 0.5.15
  requirements/optional-public.txt
Due: none

Add Postgres instructions to stand-alone setup
  docs/installation.md
Due: none

Tweak punctuation and emphasis
  docs/installation.md
Due: none

Remove redundant 'homebrew-deps.sh' script
  homebrew-deps.sh
Due: none

Remove old references to 'MySQL', now 'Postgres'
  docs/usage.md
Due: none

Remove redundant 'pgloader_shell.sh' script
  pgloader_shell.sh
Due: none

Update dot-env files to reflect move to Postgres
  .env_SAMPLE
  .python_env_SAMPLE
Due: none

Fix shellcheck errors in refresh data script
  refresh-data.sh
Due: none

Cleanup: remove comments, whitespace cleanup, use a heredoc
  refresh-data.sh
Due: none

Fix heading markup in mega menu
  cfgov/jinja2/v1/_includes/organisms/mega-menu.html
Due: none

Path conditions:
  backend: any of: cfgov/**/*.py
  frontend: any of: cfgov/**/*.js
