Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: off

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
      backend:
        threshold: 0.02%
        flags: backend
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

Remove extra blank line from test_unpublished_closed_jobs
  cfgov/scripts/tests/test_unpublish_closed_jobs.py
Due: backend

Add script to unpublish job listing page if job has closed on USAJobs.
  .env_SAMPLE
  cfgov/scripts/tests/test_unpublish_closed_jobs.py
  cfgov/scripts/unpublish_closed_jobs.py
Due: backend

Handle exceptions in unpublish_closed_jobs API/page checks.
  cfgov/scripts/tests/test_unpublish_closed_jobs.py
  cfgov/scripts/unpublish_closed_jobs.py
Due: backend

Spacing fixes.
  cfgov/scripts/tests/test_unpublish_closed_jobs.py
  cfgov/scripts/unpublish_closed_jobs.py
Due: backend

Update urlopen import
  cfgov/scripts/unpublish_closed_jobs.py
Due: backend

Update Region reference in jobs test
  cfgov/scripts/tests/test_unpublish_closed_jobs.py
Due: backend

Exit job when an API or page check fails
  cfgov/scripts/tests/test_unpublish_closed_jobs.py
  cfgov/scripts/unpublish_closed_jobs.py
Due: backend

Log traceback with exceptions.
  cfgov/scripts/tests/test_unpublish_closed_jobs.py
  cfgov/scripts/unpublish_closed_jobs.py
Due: backend

retain unicode literals on feedback block, avoid overloading the block value and use py3-compliant urllib parsing
  cfgov/jinja2/v1/_includes/blocks/feedback.html
  cfgov/v1/handlers/blocks/feedback.py
  cfgov/v1/tests/handlers/blocks/test_feedback.py
Due: backend

Fix for file logic reference
  frontend.sh
Due: none

Fix for app build process
  frontend.sh
Due: none

Revision for code review
  cfgov/unprocessed/apps/owning-a-home/package.json
Due: none

Revision for code review
  frontend.sh
Due: none

fix: package.json & .snyk to reduce vulnerabilities
  .snyk
  package.json
Due: none

updates for 2018 cfpb research conference
  cfgov/data_research/blocks.py
  cfgov/data_research/fixtures/conference_export.json
  cfgov/data_research/fixtures/conference_registrants.json
  cfgov/data_research/fixtures/conference_registration_page.json
  cfgov/data_research/forms.py
  cfgov/data_research/handlers.py
  cfgov/data_research/jinja2/data_research/conference-registration-form.html
  cfgov/data_research/management/commands/conference_delete.py
  cfgov/data_research/management/commands/conference_export.py
  cfgov/data_research/management/commands/conference_notify.py
  cfgov/data_research/migrations/0010_2018_research_conference.py
  cfgov/data_research/models.py
  cfgov/data_research/research_conference.py
  cfgov/data_research/templates/data_research/conference_notify_email.txt
  cfgov/data_research/templates/data_research/conference_notify_subject.txt
  cfgov/data_research/tests/management/commands/test_conference_delete.py
  cfgov/data_research/tests/management/commands/test_conference_export.py
  cfgov/data_research/tests/management/commands/test_conference_notify.py
  cfgov/data_research/tests/test_blocks.py
  cfgov/data_research/tests/test_forms.py
  cfgov/data_research/tests/test_handlers.py
  cfgov/data_research/tests/test_research_conference.py
  cfgov/data_research/widgets.py
  cfgov/jinja2/v1/_includes/conference-registration-form.html
  cfgov/scripts/_atomic_helpers.py
  cfgov/v1/migrations/0101_2018_research_conference.py
  requirements/base.txt
Due: backend

update debt email popup govdelivery code
  cfgov/jinja2/v1/_includes/organisms/email-popup/debt.html
Due: none

Replace gulpUtil with fancyLog
  cfgov/unprocessed/apps/owning-a-home/package-lock.json
  gulp/tasks/audit.js
  gulp/tasks/docs.js
  gulp/tasks/test.js
  package-lock.json
  package.json
Due: none

Only show child pages that belong to active section in secondary navigation on browse-type pages.
  cfgov/v1/tests/util/test_util.py
  cfgov/v1/util/util.py
Due: backend

Fix for OAH API config file
  .gitignore
  cfgov/unprocessed/apps/owning-a-home/config.json
  cfgov/unprocessed/apps/owning-a-home/example-config.json
Due: none

cleanup unused picard files/references
  .flake8
  cfgov/cfgov/tests/test_urls.py
  cfgov/cfgov/urls.py
  picard_scripts/akamai_flush.sh
  picard_scripts/picard_data_export.sh
  picard_scripts/picard_synonyms_export.sh
Due: backend

Moves tests to proper locations
  test/unit_tests/js/modules/behavior/FlyoutMenu-spec.js
  test/unit_tests/js/modules/footer-button-spec.js
Due: none

Google Optimize flicker fix - Moved snippet, changed timeout
  cfgov/legacy/templates/front/base_update.html
Due: none

Remove tests that check IE8 JS
  test/unit_tests/js/modules/BreakpointHandler-spec.js
Due: none

add frauds & scams to megamenu consumer tools
  cfgov/jinja2/v1/_includes/organisms/_vars-mega-menu.html
Due: none

Remove legacy innerWidth check
  cfgov/unprocessed/js/modules/BreakpointHandler.js
Due: frontend

Update migration and explanatory text for menu link.
  cfgov/v1/migrations/0102_add_menu_item.py
  cfgov/v1/models/menu_item.py
Due: backend

Fix indentation.
  cfgov/v1/blocks.py
Due: backend

Changes tag manage variable in tests
  test/unit_tests/apps/financial-well-being/js/fwb-questions-spec.js
  test/unit_tests/apps/financial-well-being/js/fwb-results-spec.js
Due: none

Modifying code to fail build or error
  gulp/tasks/scripts.js
  gulp/tasks/watch.js
  gulp/utils/handle-errors.js
Due: none

Update fraud link text
  cfgov/jinja2/v1/_includes/organisms/_vars-mega-menu.html
  cfgov/scripts/migrate_mega_menu.py
Due: backend

fix megamenu typo: should be fraud not frauds
  cfgov/jinja2/v1/_includes/organisms/_vars-mega-menu.html
Due: none

fix related posts urls for duplicate slugs
  cfgov/jinja2/v1/_includes/molecules/related-posts.html
Due: none

Test Travis config
  run_travis.sh
Due: none

fix: package.json to reduce vulnerabilities
  package.json
Due: none

Fix dependencies for Travis
  cfgov/unprocessed/apps/owning-a-home/js/dropdown-utils.js
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/dom-values.js
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/index.js
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/tab.js
  cfgov/unprocessed/apps/owning-a-home/js/format-timestamp.js
  cfgov/unprocessed/apps/owning-a-home/js/rates.js
  run_travis.sh
Due: frontend

Move babel and jest config to their own files
  .babelrc
  gulp/tasks/test.js
  jest.config.json
  package.json
Due: none

Fix for linter
  gulp/tasks/test.js
Due: none
