Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: off

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
      backend:
        threshold: 0.02%
        flags: backend
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

No longer need filter_ prepended to each filter
  cfgov/jinja2/v1/_includes/article.html
  cfgov/jinja2/v1/_includes/macros/category-slug.html
  cfgov/jinja2/v1/_includes/organisms/filterable-list-controls.html
  cfgov/jinja2/v1/_includes/organisms/item-introduction.html
  cfgov/jinja2/v1/_includes/organisms/post-preview.html
  cfgov/jinja2/v1/_includes/tags.html
  cfgov/v1/models/base.py
  cfgov/v1/tests/test_filterable_list.py
  cfgov/v1/util/filterable_list.py
Due: backend

Spanish language support for typo autocorrect
  cfgov/jinja2/v1/ask-cfpb/answer-search-spanish-results.html
Due: none

Fix tests for Ask typo suggestions and synonyms
  cfgov/ask_cfpb/tests/test_views.py
  cfgov/ask_cfpb/views.py
  cfgov/search/tests/test_fields.py
Due: backend

Add mac-virtualbox-init.sh to runserver
  runserver.sh
Due: none

flake8: wildcard to exclude migrations
  .flake8
Due: none

flake8: remove non-existent features dir
  .flake8
Due: none

agreements doesn't need it's own requirements
  cfgov/agreements/requirements.txt
Due: none

add missing comma
  .flake8
Due: none

Adjust type hierarchy on spanish results
  cfgov/jinja2/v1/ask-cfpb/answer-search-spanish-results.html
Due: none

Add www.federalregister.gov to CSP script whitelist
  cfgov/cfgov/settings/base.py
Due: backend

Revert "Remove misleading form_id from filterable params"
  cfgov/jinja2/v1/_includes/article.html
  cfgov/jinja2/v1/_includes/macros/category-slug.html
  cfgov/jinja2/v1/_includes/organisms/filterable-list-controls.html
  cfgov/jinja2/v1/_includes/organisms/item-introduction.html
  cfgov/jinja2/v1/_includes/organisms/post-preview.html
  cfgov/jinja2/v1/_includes/tags.html
  cfgov/jinja2/v1/activity-log/_activity-list.html
  cfgov/jinja2/v1/activity-log/index.html
  cfgov/jinja2/v1/browse-filterable/index.html
  cfgov/jinja2/v1/sublanding-page/index.html
  cfgov/v1/models/base.py
  cfgov/v1/models/sublanding_page.py
  cfgov/v1/tests/models/test_sublanding_page.py
  cfgov/v1/tests/test_filterable_list.py
  cfgov/v1/util/filterable_list.py
Due: backend

Move get_menu_items into templatetag
  cfgov/jinja2/v1/_includes/organisms/header.html
  cfgov/jinja2/v1/_includes/organisms/mega-menu.html
  cfgov/v1/__init__.py
  cfgov/v1/models/base.py
  cfgov/v1/models/snippets.py
  cfgov/v1/templatetags/mega_menu.py
Due: backend

Call get_site() on filter_page only if filter_page is not None
  cfgov/v1/models/base.py
Due: backend

Fix button label text to reflect correct file type
  cfgov/jinja2/v1/_includes/organisms/bureau-structure.html
Due: none

Fix for tags
  cfgov/jinja2/v1/_includes/tags.html
Due: none

Moving if statemnt to loop
  cfgov/jinja2/v1/_includes/tags.html
Due: none

Fix for chrome bug on Travis
  .travis.yml
  run_travis.sh
Due: none

switching back to beta
  .travis.yml
Due: none

Removing acceptance testing
  .travis.yml
  run_travis.sh
Due: none

this is to trick travis into running...
  README.md
Due: none

Revert "this is to trick travis into running..."
  README.md
Due: none

Remove old feature flags
  cfgov/cfgov/settings/base.py
  cfgov/cfgov/urls.py
  cfgov/jinja2/v1/_includes/organisms/table.html
  cfgov/wellbeing/tests/test_views.py
Due: backend

make tests less sensitive to os.walk order
  cfgov/agreements/tests/test_management.py
Due: backend

MenuItem clean up
  cfgov/v1/models/snippets.py
Due: backend

Fix for empty list
  cfgov/v1/models/snippets.py
Due: backend

Initial import export work
  cfgov/unprocessed/js/config/error-messages-config.js
  cfgov/unprocessed/js/modules/VideoPlayer.js
  cfgov/unprocessed/js/modules/YoutubePlayer.js
  cfgov/unprocessed/js/modules/util/js-loader.js
  cfgov/unprocessed/js/modules/util/validators.js
  cfgov/unprocessed/js/organisms/FilterableListControls.js
  cfgov/unprocessed/js/organisms/FormSubmit.js
  cfgov/unprocessed/js/routes/on-demand/feedback-form.js
  config/webpack-config.js
  package-lock.json
  package.json
Due: frontend

Run acceptance tests
  .travis.yml
Due: none

Increase test coverage around suggestions
  cfgov/ask_cfpb/tests/test_views.py
  cfgov/ask_cfpb/views.py
Due: backend

Move gulp-newer extra arrays to config file
  gulp/config.js
  gulp/tasks/scripts.js
  gulp/tasks/styles.js
Due: none

Switch from gulp-changed to gulp-newer in style and script tasks
  config/environment.js
  gulp/config.js
  gulp/tasks/scripts.js
  gulp/tasks/styles.js
  package-lock.json
  package.json
Due: none

Remove unused activity snippet stuff
  cfgov/jinja2/v1/_includes/macros/activity-snippets.html
  cfgov/jinja2/v1/about-us/index.html
  cfgov/unprocessed/css/activity.less
  cfgov/unprocessed/css/main.less
Due: none

Moves fonts.net tracking code to footer
  cfgov/jinja2/v1/_layouts/base.html
Due: none

Update migrations and fix deletions
  cfgov/v1/atomic_elements/molecules.py
  cfgov/v1/atomic_elements/organisms.py
  cfgov/v1/migrations/0096_add_rule_options_to_modules.py
  cfgov/v1/migrations/0097_add_rule_options_to_modules.py
Due: backend

Update urls.py
  cfgov/cfgov/urls.py
Due: backend

flake8 fix
  cfgov/v1/atomic_elements/molecules.py
Due: backend

Add missing askcfpb migration
  cfgov/ask_cfpb/migrations/0011_add_rule_option_to_module.py
Due: backend

Fix merge conflict in package-lock.json
  package-lock.json
Due: none

remove comparisontool from optional-private
  requirements/optional-private.txt
Due: none

Use open source version of comparisontool
  requirements/optional-public.txt
Due: none

Differentiate retina images
  cfgov/unprocessed/css/pages/error.less
  cfgov/unprocessed/img/plug-269x328.png
  cfgov/unprocessed/img/plug-538x656.png
  cfgov/unprocessed/img/plug.png
  cfgov/unprocessed/img/server-353x310.png
  cfgov/unprocessed/img/server-706x620.png
  cfgov/unprocessed/img/server.png
Due: none
