Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Do not index filterable list queries unless it's a single topic tag
  cfgov/v1/util/filterable_list.py
Due: backend

Add tests for do_not_index functionality
  cfgov/v1/tests/test_filterable_list.py
Due: backend

Update set_do_not_index docstring
  cfgov/v1/util/filterable_list.py
Due: backend

Update docstring for `serve` now that it updates multiple headers
  cfgov/v1/util/filterable_list.py
Due: backend

Disallow indexing page results
  cfgov/core/static/robots.txt
Due: none

Remove unused file
  cfgov/jinja2/v1/robots.txt
Due: none

Fix some text from the move from Sheer, update OAH references to BAH
  cfgov/jinja2/v1/know-before-you-owe/index.html
Due: none

remove optional eregs-2.0 app
  cfgov/cfgov/settings/base.py
  cfgov/cfgov/urls.py
  requirements/base.txt
  requirements/optional-public.txt
Due: backend

adjust post preview spacing and line break
  cfgov/jinja2/v1/_includes/organisms/post-preview.html
  cfgov/unprocessed/css/enhancements/typography.less
Due: none

always convert canonical url to lowercase
  cfgov/jinja2/v1/_layouts/base.html
Due: none

update .env_SAMPLE to reflect current Akamai vars
  .env_SAMPLE
Due: none

enable EMAIL_POPUP_DEBT feature flag
  cfgov/cfgov/settings/base.py
Due: backend

add canonical url link tag to spanish base template
  cfgov/jinja2/v1/es/es-base.html
Due: none

remove legacy Django servicemembers pages
  cfgov/cfgov/settings/base.py
  cfgov/cfgov/urls.py
  cfgov/legacy/templates/service-members/additionalresources/index.html
  cfgov/legacy/templates/service-members/index.html
  cfgov/legacy/templates/service-members/on-demand-forums-and-tools/index.html
  cfgov/legacy/templates/service-members/planning/creativesavingsstrategies/index.html
  cfgov/legacy/templates/service-members/planning/index.html
  cfgov/legacy/templates/service-members/protecting/index.html
Due: backend

add canonical tag to obtener respuestas homepage
  cfgov/jinja2/v1/_layouts/spanish-ask-base.html
Due: none

remove some unused images
  cfgov/legacy/static/nemo/_/img/CaptJamison_video_thumbnail.png
  cfgov/legacy/static/nemo/_/img/Harry_video_thumbnail.png
Due: none

replace es-base.html with shared base template for cf.gov + es site
  cfgov/jinja2/v1/_layouts/base-base.html
  cfgov/jinja2/v1/es/es-base.bak
Due: none

add mysql create user statement
  create-mysql-db.sh
Due: none

add spanish site title
  cfgov/jinja2/v1/_layouts/base-base.html
Due: none

add facebook open graph meta tags
  cfgov/jinja2/v1/_layouts/base-base.html
  cfgov/jinja2/v1/es/es-base.html
Due: none

add spanish site css to new es base template
  cfgov/jinja2/v1/es/es-base.html
Due: none

Update display of regional location on job description page.
  cfgov/jinja2/v1/job-description-page/index.html
  cfgov/jobmanager/models/pages.py
  cfgov/jobmanager/tests/models/test_pages.py
  cfgov/unprocessed/css/pages/careers.less
Due: backend

Update vacancy announcement page layout
  cfgov/jinja2/v1/job-description-page/index.html
  cfgov/jobmanager/models/pages.py
  cfgov/unprocessed/css/pages/careers.less
  cfgov/unprocessed/js/routes/ask-cfpb/single.js
  cfgov/unprocessed/js/routes/on-demand/read-more.js
Due: backend, frontend

Update migration
  cfgov/jobmanager/migrations/0013_job_region_to_location.py
  cfgov/jobmanager/models/pages.py
Due: backend

add head scripts to css block
  cfgov/jinja2/v1/es/es-base.html
Due: none

add modernizr block for custom modernizr on spanish site
  cfgov/jinja2/v1/_layouts/base-base.html
  cfgov/jinja2/v1/es/es-base.html
Due: none

fix output of english site modernizr to not appear on spanish page
  cfgov/jinja2/v1/_layouts/base-base.html
Due: none

remove es version of gtm script in favor of en version
  cfgov/jinja2/v1/es/es-base.html
Due: none

update spanish ask cfpb base template to inherit from new base
  cfgov/jinja2/v1/_layouts/base-base.html
  cfgov/jinja2/v1/_layouts/spanish-ask-base.html
Due: none

save original base template backups
  cfgov/jinja2/v1/_layouts/spanish-ask-base.bak
Due: none

Bump cf-typography and cf-expandable dependency versions
  package-lock.json
  package.json
Due: none

Fix indentation and remvoe excessive nesting
  cfgov/unprocessed/css/video-player.less
Due: none

Eliminate usage of old u-webfont- mixins
  cfgov/unprocessed/css/apps/owning-a-home/brand-header.less
  cfgov/unprocessed/css/apps/owning-a-home/form-resources.less
  cfgov/unprocessed/css/enhancements/typography.less
  cfgov/unprocessed/css/main.less
  cfgov/unprocessed/css/misc.less
  cfgov/unprocessed/css/molecules/global-header-cta.less
  cfgov/unprocessed/css/molecules/global-search.less
  cfgov/unprocessed/css/on-demand/footer.less
  cfgov/unprocessed/css/on-demand/header.less
  cfgov/unprocessed/css/on-demand/secondary-navigation.less
  cfgov/unprocessed/css/organisms/bureau-structure.less
  cfgov/unprocessed/css/organisms/expandable.less
  cfgov/unprocessed/css/organisms/featured-content-module.less
  cfgov/unprocessed/css/organisms/footer.less
  cfgov/unprocessed/css/organisms/mega-menu.less
  cfgov/unprocessed/css/organisms/mortgage-performance-trends.less
  cfgov/unprocessed/css/organisms/reg-comment.less
  cfgov/unprocessed/css/organisms/secondary-navigation.less
  cfgov/unprocessed/css/organisms/snippet-list.less
  cfgov/unprocessed/css/pages/ask.less
  cfgov/unprocessed/css/pages/careers.less
  cfgov/unprocessed/css/pages/event.less
  cfgov/unprocessed/css/pages/external-site.less
  cfgov/unprocessed/css/video-player.less
Due: none

Fix/remove a few more outdated references
  cfgov/unprocessed/css/organisms/email-popup.less
  cfgov/unprocessed/fonts/pdfreactor/18839597-afa8-4f0b-9abb-4a30262d0da8.ttf
  cfgov/unprocessed/fonts/pdfreactor/46cf1067-688d-4aab-b0f7-bd942af6efd8.ttf
  cfgov/unprocessed/fonts/pdfreactor/63a74598-733c-4d0c-bd91-b01bffcd6e69.ttf
  cfgov/unprocessed/fonts/pdfreactor/890bd988-5306-43ff-bd4b-922bc5ebdeb4.ttf
  cfgov/unprocessed/fonts/pdfreactor/a0f4c2f9-8a42-4786-ad00-fce42b57b148.ttf
Due: none

Update Capital Framework dependencies to latest
  package-lock.json
  package.json
Due: none

english base extends new base template, base template re-worked to remove duplicate code
  cfgov/jinja2/v1/_layouts/base-base.html
  cfgov/jinja2/v1/_layouts/base.html
  cfgov/jinja2/v1/_layouts/spanish-ask-base.html
Due: none

update structure of Spanish base to remove duplicate code from new base
  cfgov/jinja2/v1/es/es-base.html
Due: none

Bump regulations-site to 2.2.1
  cfgov/cfgov/settings/base.py
  requirements/optional-public.txt
Due: backend

fix whitespace alignment of meta tags, add optional og property for spanish template
  cfgov/jinja2/v1/_layouts/base-base.html
Due: none

add open graph metadata to spanish templates
  cfgov/jinja2/v1/_layouts/spanish-ask-base.html
  cfgov/jinja2/v1/ask-cfpb/answer-page-spanish.html
  cfgov/jinja2/v1/es/es-base.html
Due: none

Path conditions:
  backend: any of: cfgov/**/*.py
  frontend: any of: cfgov/**/*.js
