Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: off

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
      backend:
        threshold: 0.02%
        flags: backend
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

spanish ask extends spanish base template to remove duplicate code
  cfgov/jinja2/v1/_layouts/spanish-ask-base.html
Due: none

rm duplicate content from spanish ask, add block for Ask search
  cfgov/jinja2/v1/_layouts/spanish-ask-base.html
  cfgov/jinja2/v1/es/es-base.html
Due: none

Update vacancy page and add position type models
  cfgov/jinja2/v1/job-description-page/index.html
  cfgov/jobmanager/migrations/0013_joblisting_page_updates.py
  cfgov/jobmanager/models/django.py
  cfgov/jobmanager/models/pages.py
  cfgov/jobmanager/wagtail_hooks.py
  cfgov/scripts/create_career_types.py
  cfgov/unprocessed/css/pages/careers.less
Due: backend

remove old spanish template files that i used as reference
  cfgov/jinja2/v1/_layouts/spanish-ask-base.bak
  cfgov/jinja2/v1/es/es-base.bak
Due: none

add web fonts tracker request to new base template for use in english AND spanish site
  cfgov/jinja2/v1/_layouts/base-base.html
  cfgov/jinja2/v1/_layouts/base.html
Due: none

bump optional wagtail-flags package to 2.0.8
  requirements/base.txt
Due: none

bump optional ccdb5-ui package to version 1.0.7
  requirements/optional-public.txt
Due: none

fix parent-page + other body classes on spanish pages
  cfgov/jinja2/v1/_layouts/base-base.html
  cfgov/jinja2/v1/es/es-base.html
Due: none

give spanish site its own title instead of including babel conditional in base-base
  cfgov/jinja2/v1/_layouts/base-base.html
  cfgov/jinja2/v1/es/es-base.html
Due: none

fix spanish ask titles to use babel_title
  cfgov/jinja2/v1/_includes/ask/title-spanish.html
  cfgov/jinja2/v1/_layouts/spanish-ask-base.html
Due: none

fix active navigation link class for spanish ask that i broke
  cfgov/jinja2/v1/_layouts/spanish-ask-base.html
  cfgov/jinja2/v1/es/es-base.html
Due: none

Fallback for regional location display if no states
  cfgov/jinja2/v1/job-description-page/index.html
Due: none

Add tests and fix spacing
  cfgov/jobmanager/migrations/0015_job_page_field_updates.py
  cfgov/jobmanager/models/__init__.py
  cfgov/jobmanager/models/pages.py
  cfgov/jobmanager/tests/models/test_pages.py
  cfgov/jobmanager/wagtail_hooks.py
  cfgov/scripts/create_career_types.py
Due: backend

Set ALLOWED_HOSTS with an env var
  cfgov/cfgov/settings/production.py
Due: backend

Raise ImproperlyConfigured instead of setting a default ALLOWED_HOSTS
  cfgov/cfgov/settings/production.py
Due: backend

add default catchall logging handlers
  cfgov/cfgov/settings/production.py
Due: backend

Update pay grade link on job listing page
  cfgov/jinja2/v1/job-description-page/index.html
Due: none

add new permissions viewer app
  cfgov/cfgov/settings/base.py
  cfgov/permissions_viewer/__init__.py
  cfgov/permissions_viewer/templates/permissions_viewer/roster.html
  cfgov/permissions_viewer/templates/permissions_viewer/user.html
  cfgov/permissions_viewer/templates/wagtailusers/groups/list.html
  cfgov/permissions_viewer/templates/wagtailusers/groups/results.html
  cfgov/permissions_viewer/views.py
  cfgov/permissions_viewer/wagtail_hooks.py
Due: backend

for Ask answer, og:description will default to the snippet
  cfgov/jinja2/v1/ask-cfpb/answer-page.html
Due: none

bump wagtail-sharing version from 0.5 to 0.6.1
  requirements/base.txt
Due: none

remove unneeded dependencies
  requirements/base.txt
Due: none

better migration name
  cfgov/jobmanager/migrations/0013_remove_tinymce.py
Due: backend

Switch JobCategory to RichTextField
  cfgov/cfgov/settings/base.py
  cfgov/jobmanager/migrations/0013_auto_20171206_1747.py
  cfgov/jobmanager/models/django.py
  cfgov/jobmanager/static/django_tinymce/init_tinymce.js
  cfgov/jobmanager/wagtail_hooks.py
Due: backend, frontend

fix up tinymce migration
  cfgov/jobmanager/migrations/0015_remove_tinymce.py
  cfgov/jobmanager/models/django.py
  cfgov/jobmanager/wagtail_hooks.py
  requirements/base.txt
Due: backend

bump pyelasticsearch requirement to 0.6.1
  requirements/base.txt
Due: none

Add jobposting metadata
  cfgov/jinja2/v1/job-description-page/index.html
  cfgov/jobmanager/models/__init__.py
  cfgov/jobmanager/models/pages.py
  cfgov/jobmanager/signals.py
  cfgov/scripts/create_career_types.py
  cfgov/unprocessed/css/organisms/read-more.less
Due: backend

use namespaced URL's
  cfgov/cfgov/settings/base.py
  cfgov/permissions_viewer/templates/permissions_viewer/group.html
  cfgov/permissions_viewer/templates/permissions_viewer/user.html
  cfgov/permissions_viewer/templates/wagtailusers/groups/list.html
  cfgov/permissions_viewer/templates/wagtailusers/groups/results.html
  cfgov/permissions_viewer/tests.py
  cfgov/permissions_viewer/views.py
  cfgov/permissions_viewer/wagtail_hooks.py
Due: backend

Update Capital Framework dependencies to latest
  package-lock.json
  package.json
Due: none

Eliminate usage of old u-webfont- mixins
  cfgov/unprocessed/css/apps/owning-a-home/brand-header.less
  cfgov/unprocessed/css/apps/owning-a-home/form-resources.less
  cfgov/unprocessed/css/enhancements/typography.less
  cfgov/unprocessed/css/main.less
  cfgov/unprocessed/css/misc.less
  cfgov/unprocessed/css/molecules/global-header-cta.less
  cfgov/unprocessed/css/molecules/global-search.less
  cfgov/unprocessed/css/on-demand/footer.less
  cfgov/unprocessed/css/on-demand/header.less
  cfgov/unprocessed/css/on-demand/secondary-navigation.less
  cfgov/unprocessed/css/organisms/bureau-structure.less
  cfgov/unprocessed/css/organisms/expandable.less
  cfgov/unprocessed/css/organisms/featured-content-module.less
  cfgov/unprocessed/css/organisms/footer.less
  cfgov/unprocessed/css/organisms/mega-menu.less
  cfgov/unprocessed/css/organisms/mortgage-performance-trends.less
  cfgov/unprocessed/css/organisms/reg-comment.less
  cfgov/unprocessed/css/organisms/secondary-navigation.less
  cfgov/unprocessed/css/organisms/snippet-list.less
  cfgov/unprocessed/css/pages/ask.less
  cfgov/unprocessed/css/pages/careers.less
  cfgov/unprocessed/css/pages/event.less
  cfgov/unprocessed/css/pages/external-site.less
  cfgov/unprocessed/css/video-player.less
Due: none

Fix/remove a few more outdated references
  cfgov/unprocessed/css/organisms/email-popup.less
  cfgov/unprocessed/css/video-player.less
  cfgov/unprocessed/fonts/pdfreactor/18839597-afa8-4f0b-9abb-4a30262d0da8.ttf
  cfgov/unprocessed/fonts/pdfreactor/46cf1067-688d-4aab-b0f7-bd942af6efd8.ttf
  cfgov/unprocessed/fonts/pdfreactor/63a74598-733c-4d0c-bd91-b01bffcd6e69.ttf
  cfgov/unprocessed/fonts/pdfreactor/890bd988-5306-43ff-bd4b-922bc5ebdeb4.ttf
  cfgov/unprocessed/fonts/pdfreactor/a0f4c2f9-8a42-4786-ad00-fce42b57b148.ttf
Due: none

update cf-core to get demibold font fix for safari
  package-lock.json
  package.json
Due: none

update demibold styles to font-weight:600 for safari fix
  cfgov/unprocessed/css/misc.less
  cfgov/unprocessed/css/organisms/mortgage-performance-trends.less
Due: none

strip HTML from og:description in Ask CFPB
  cfgov/jinja2/v1/ask-cfpb/answer-page.html
Due: none

Add script to unpublish job listing page if job has closed on USAJobs.
  .env_SAMPLE
  cfgov/scripts/tests/test_unpublish_closed_jobs.py
  cfgov/scripts/unpublish_closed_jobs.py
Due: backend

Add signal tests
  cfgov/jobmanager/tests/test_signals.py
Due: backend

Update migration
  cfgov/jobmanager/migrations/0016_job_type_and_description_fields.py
Due: backend

Update Region reference in jobs test
  cfgov/scripts/tests/test_unpublish_closed_jobs.py
Due: backend

Eslint fix.
  cfgov/unprocessed/js/routes/on-demand/read-more.js
Due: frontend

pep8 fixes
  cfgov/permissions_viewer/views.py
Due: backend

added an index view, making this functionality
  cfgov/permissions_viewer/templates/permissions_viewer/index.html
  cfgov/permissions_viewer/templates/permissions_viewer/user.html
  cfgov/permissions_viewer/urls.py
  cfgov/permissions_viewer/views.py
  cfgov/permissions_viewer/wagtail_hooks.py
Due: backend
