Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Remove extraneous test
  cfgov/ask_cfpb/tests/models/test_pages.py
Due: backend

Add IE8 to browser list
  cfgov/unprocessed/apps/analytics-gtm/browserslist
Due: none

remove deprecated pbr requirement
  requirements/libraries.txt
Due: none

Simplest of changes from master
  README.md
Due: none

This should in no way fail on Travis
  README.md
Due: none

Scroll to top of page when in submenu
  cfgov/unprocessed/js/organisms/MegaMenuMobile.js
Due: frontend

Run Travis unit tests against Postgres DB
  .travis.yml
  travis_run.sh
Due: none

Add browserlist config comments
  cfgov/unprocessed/apps/analytics-gtm/browserslist
Due: none

Fix order of track function
  cfgov/unprocessed/apps/analytics-gtm/js/youtube-overlay-click-detection.js
Due: frontend

Code cleanup + additional coverage
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/rate-checker.js
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/util.js
  cfgov/unprocessed/apps/owning-a-home/js/form-explainer.js
  cfgov/unprocessed/apps/owning-a-home/package.json
  test/unit_tests/apps/owning-a-home/js/explore-rates/util-spec.js
Due: frontend

Bump regulations-site to 2.2.2
  requirements/optional-public.txt
Due: none

Add code comment in empty function
  test/unit_tests/apps/owning-a-home/js/explore-rates/util-spec.js
Due: none

Ignore index files in test coverage
  jest.config.js
Due: none

Create event test utility
  test/unit_tests/apps/financial-well-being/js/fwb-questions-spec.js
  test/unit_tests/apps/financial-well-being/js/fwb-results-spec.js
  test/unit_tests/apps/owning-a-home/js/explore-rates/tab-spec.js
  test/unit_tests/apps/owning-a-home/js/ratings-form-spec.js
  test/unit_tests/js/modules/ClearableInput-spec.js
  test/unit_tests/js/modules/footer-button-spec.js
  test/unit_tests/js/modules/o-table-row-links-spec.js
  test/unit_tests/js/molecules/Multiselect-spec.js
  test/util/simulate-event.js
Due: none

Adds missing closing span
  cfgov/legacy/templates/hud/housing_counselor.html
Due: none

Update spacing on eyebrow.
  cfgov/jinja2/v1/_includes/molecules/text-introduction.html
  cfgov/unprocessed/css/enhancements/base.less
Due: none

Add missing rel attributes to target=_blank
  cfgov/jinja2/v1/owning-a-home/closing-disclosure/closing-disclosure-5-data.html
  cfgov/jinja2/v1/owning-a-home/loan-estimate/loan-estimate-3-data.html
Due: none

Bump TDP release version to 0.2.2
  requirements/optional-public.txt
Due: none

Enable acceptance testing on Travis
  .travis.yml
Due: none

Testing travis config
  .travis.yml
Due: none

Remove boxsizing.htc from codebase
  TERMS.md
  cfgov/legacy/static/nemo/_/c/v1-nonresponsive-header.css
  cfgov/v1/static/custom-demo/static/css/boxsizing.htc
  cfgov/v1/static/js/boxsizing.htc
Due: none

Testing travis config
  .travis.yml
  test/browser_tests/default-suites.js
Due: none

Removes outdated PDFs
  cfgov/v1/static/pdf/201410_cfpb_bio_cordray.pdf
  cfgov/v1/static/pdf/2016_pay_table.pdf
Due: none

Add missing migrations
  cfgov/v1/migrations/0104_convert_http_to_https.py
Due: backend

Remove test error reports
  protractorFailuresReport/protractorTestErrors-1.xml
  protractorFailuresReport/protractorTestErrors-2.xml
Due: none

Testing travis config
  .travis.yml
  test/browser_tests/default-suites.js
  tox.ini
Due: none

Remove AWS URL from files.cf.gov URLs
  cfgov/data_research/fixtures/mortgage_metadata.json
  cfgov/data_research/mortgage_utilities/s3_utils.py
  cfgov/data_research/scripts/export_public_csvs.py
Due: backend

Remove AWS URL from example URL
  refresh-data.sh
Due: none

Adding protractorFailuresReport to git ignore
  .travis.yml
Due: none

Regenerate package-lock.json
  cfgov/unprocessed/apps/owning-a-home/package-lock.json
Due: none

Changes text to textContent
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/rate-checker.js
Due: frontend

Remove slick from gitignore
  .gitignore
Due: none

Update example URL
  refresh-data.sh
Due: none

Bump TDP release version to 0.3.0
  requirements/optional-public.txt
Due: none

Spacing tweaks to email signup form and secondary nav on mobile.
  cfgov/jinja2/v1/_includes/molecules/form-field-with-button.html
  cfgov/unprocessed/css/organisms/email-signup.less
  cfgov/unprocessed/css/organisms/secondary-navigation.less
Due: none

Path conditions:
  backend: any of: cfgov/**/*.py
  frontend: any of: cfgov/**/*.js
