Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

codecov.yml:

codecov:
  branch: master
  notify:
    require_ci_to_pass: no

comment: off

coverage:
  status:
    project:
      frontend:
        threshold: 0.02%
        flags: frontend
      backend:
        threshold: 0.02%
        flags: backend
    patch:
      default:
        target: 100%

flags:
  backend:
    paths:
      - cfgov/**/*.py
  frontend:
    paths:
      - cfgov/**/*.js

Prep scripts for pipeline use
  cfgov/data_research/models.py
  cfgov/data_research/mortgage_utilities/fips_meta.py
  cfgov/data_research/scripts/generate_county_data_loading_csv.py
  cfgov/data_research/scripts/load_mortgage_aggregates.py
  cfgov/data_research/scripts/load_mortgage_performance_csv.py
  cfgov/data_research/scripts/update_county_msa_meta.py
  cfgov/data_research/tests/test_scripts.py
Due: backend

Consolidate the code around `data-abbr` and slight modifications to non-metro areas
  cfgov/unprocessed/js/organisms/MortgagePerformanceTrends/apps/chart.js
Due: frontend

make input and output examples match in docstring
  cfgov/data_research/scripts/generate_county_data_loading_csv.py
Due: backend

Bump version for rates update
  requirements/optional-private.txt
Due: none

Mortgage performance: add aria-label attributes
  cfgov/jinja2/v1/_includes/organisms/mortgage-performance-downloads.html
Due: none

Improve MP util functions' documentation
  cfgov/unprocessed/js/organisms/MortgagePerformanceTrends/utils.js
  test/unit_tests/organisms/MortgagePerformanceTrends/utils-spec.js
Due: frontend

Dynamically generate year dropdown options
  cfgov/jinja2/v1/_includes/organisms/mortgage-map.html
  cfgov/unprocessed/js/organisms/MortgagePerformanceTrends/apps/map.js
  cfgov/unprocessed/js/organisms/MortgagePerformanceTrends/utils.js
Due: frontend

Add invalid date notification to MP map
  cfgov/jinja2/v1/_includes/organisms/mortgage-map.html
  cfgov/unprocessed/js/organisms/MortgagePerformanceTrends/apps/map.js
  cfgov/unprocessed/js/organisms/MortgagePerformanceTrends/utils.js
  test/unit_tests/organisms/MortgagePerformanceTrends/utils-spec.js
Due: frontend

Condense webpack-build
  test/browser_tests/cucumber/features/suites/default/webpack-build.feature
  test/browser_tests/cucumber/step_definitions/webpack-build.js
Due: none

Fix dataset support issue
  cfgov/unprocessed/js/apps/financial-well-being/fwb-results.js
Due: frontend

Adding tests for well being
  cfgov/unprocessed/js/apps/financial-well-being/fwb-questions.js
  cfgov/unprocessed/js/apps/financial-well-being/fwb-results.js
  cfgov/unprocessed/js/routes/consumer-tools/financial-well-being/index.js
  cfgov/unprocessed/js/routes/consumer-tools/financial-well-being/results/index.js
  test/unit_tests/apps/financial-well-being/fwb-questions.js
  test/unit_tests/apps/financial-well-being/fwb-results.js
Due: frontend

Removed regex in favor of existing classlist polyfill
  cfgov/unprocessed/js/apps/financial-well-being/fwb-questions.js
  cfgov/unprocessed/js/apps/financial-well-being/fwb-results.js
Due: frontend

Have Istanbul ignore Analytics event listeners
  cfgov/unprocessed/js/apps/financial-well-being/fwb-questions.js
  cfgov/unprocessed/js/apps/financial-well-being/fwb-results.js
Due: frontend

Added final tests
  test/unit_tests/apps/financial-well-being/fwb-results.js
Due: none

Fixed linting errors
  test/unit_tests/apps/financial-well-being/fwb-questions.js
  test/unit_tests/apps/financial-well-being/fwb-results.js
Due: none

Fixed lint errors
  cfgov/unprocessed/js/apps/financial-well-being/fwb-results.js
Due: frontend

Review fix
  test/browser_tests/cucumber/step_definitions/webpack-build.js
Due: none

Condense webpack-build (#3435)
  test/browser_tests/cucumber/features/suites/default/webpack-build.feature
  test/browser_tests/cucumber/step_definitions/webpack-build.js
Due: none

fix downloads slicing
  cfgov/data_research/data/sampling_dates.json
  cfgov/data_research/models.py
Due: backend

fix how download archive list is sliced
  cfgov/data_research/models.py
Due: backend

Moving kbyo into cfgov-refresh
  cfgov/cfgov/urls.py
  cfgov/jinja2/v1/know-before-you-owe/compare/index.html
  cfgov/jinja2/v1/know-before-you-owe/index.html
  cfgov/jinja2/v1/know-before-you-owe/timeline/index.html
  cfgov/unprocessed/img/closing-disclosure_324.png
  cfgov/unprocessed/img/home-loan-toolkit_324.png
  cfgov/unprocessed/img/kbyo-hero_laptop-2x.png
  cfgov/unprocessed/img/loan-estimate_324.png
  cfgov/unprocessed/img/owning-a-home_324.png
  cfgov/unprocessed/img/paying-for-college_324.png
  cfgov/unprocessed/img/timeline-201102_cfpb_tila-respa-design-process.jpg
  cfgov/unprocessed/img/timeline-201105_cfpb_screenshot_kbyo-mortgages-round-one.png
  cfgov/unprocessed/img/timeline-asset_dfa-page-1.png
  cfgov/unprocessed/img/timeline-launch_tweet.png
  cfgov/unprocessed/img/timeline-meeting.jpg
  cfgov/unprocessed/js/know-before-you-owe/kbyo-timeline.json
  gulp/config.js
  gulp/tasks/copy.js
  package-lock.json
  package.json
Due: backend

Adding files to package.json
  package.json
Due: none

Removing unnecessary config entry
  gulp/config.js
Due: none

Fix for trailing comma
  gulp/config.js
Due: none

Revision for code review
  cfgov/jinja2/v1/know-before-you-owe/index.html
Due: none

Fix for link
  cfgov/jinja2/v1/know-before-you-owe/index.html
Due: none

Regenerating package-lock.json file
  package-lock.json
Due: none

Updating the package-lock.json file
  package-lock.json
Due: none

Bumping CCDB-UI version.
  requirements/optional-public.txt
Due: none

Add new wording and correct broken links for filter helper text
  cfgov/jinja2/v1/_includes/organisms/mortgage-chart.html
Due: none

Replace login link
  cfgov/jinja2/v1/es/presentar-una-queja/index.html
Due: none

Update complaint link
  cfgov/legacy/templates/students/index.html
Due: none

Update compiled django.mo file
  cfgov/locale/es/LC_MESSAGES/django.mo
Due: none

Fix Spanish translation of "required" in form-field-with-button
  cfgov/locale/es/LC_MESSAGES/django.po
Due: none

Bump agreements app
  requirements/optional-private.txt
Due: none

Fixing issue with build related to timeline theme
  gulp/tasks/copy.js
Due: none

Update filter controls to use CF full-width inputs
  cfgov/jinja2/v1/_includes/organisms/filterable-list-controls.html
  cfgov/unprocessed/css/enhancements/forms.less
  cfgov/unprocessed/css/organisms/form.less
  cfgov/v1/forms.py
Due: backend
