Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Fix for spelling error
  cfgov/unprocessed/apps/owning-a-home/js/form-explainer.js
Due: frontend

Turn off polyfilling in analytics
  cfgov/unprocessed/apps/analytics-gtm/webpack-config.js
Due: frontend

Add Turbolinks JS library behind a feature flag
  cfgov/cfgov/settings/base.py
  cfgov/jinja2/v1/_layouts/base.html
  cfgov/unprocessed/js/routes/on-demand/turbolinks.js
  package-lock.json
  package.json
Due: backend, frontend

build docs as part of travis backend build
  .travis.yml
  travis_run.sh
Due: none

Removing Ustream code
  cfgov/jinja2/v1/_includes/macros/video-player.html
  cfgov/jinja2/v1/events/_macros.html
  cfgov/unprocessed/apps/owning-a-home/package-lock.json
  cfgov/unprocessed/js/modules/UStreamPlayer.js
  cfgov/v1/migrations/0106_modify_video_player_help_text.py
  cfgov/v1/models/learn_page.py
  gulp/config.js
  package-lock.json
  package.json
Due: backend, frontend

Removing vendorJS
  gulp/config.js
  gulp/tasks/copy.js
Due: none

Remove CONTINUOUS_INTEGRATION
  config/environment.js
  gulp/config.js
Due: none

Minor linter cleanup
  cfgov/unprocessed/apps/analytics-gtm/js/youtube-event-listeners-older-style.js
  gulp/tasks/clean.js
  test/browser_tests/page_objects/base-page.js
  test/unit_tests/apps/owning-a-home/js/explore-rates/Slider-spec.js
  test/unit_tests/apps/owning-a-home/js/explore-rates/template-loader-spec.js
  test/unit_tests/js/modules/footer-button-spec.js
  test/unit_tests/js/modules/util/email-popup-helpers-spec.js
  test/unit_tests/js/organisms/EmailPopup-spec.js
Due: frontend

Consolidating the frontend / acceptance testing tiers
  .travis.yml
  frontend.sh
  gulp/tasks/test.js
  travis_install.sh
  travis_run.sh
Due: none

Fix for http in package-lock.json
  package-lock.json
Due: none

Removing remaining wp-content references from repo
  cfgov/v1/static-legacy/css/styles.css
  cfgov/v1/tests/test_page_validation.py
Due: backend

Bump TDP release version to 0.4.2
  requirements/optional-public.txt
Due: none

Fix and add tests for setSelections
  cfgov/jinja2/v1/owning-a-home/explore-rates/index.html
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/params.js
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/rate-checker.js
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/util.js
  test/unit_tests/apps/owning-a-home/js/explore-rates/params-spec.js
  test/unit_tests/apps/owning-a-home/js/explore-rates/util-spec.js
Due: frontend

Linter fixes
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/params.js
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/util.js
  test/browser_tests/default-suites.js
  test/unit_tests/apps/owning-a-home/js/explore-rates/util-spec.js
Due: frontend

simpler, more flexible database configuration
  .env_SAMPLE
  .python_env_SAMPLE
  README.md
  backend.sh
  cfgov/cfgov/settings/base.py
  cfgov/cfgov/settings/database_mixin.py
  cfgov/cfgov/settings/local.py
  cfgov/cfgov/settings/local_sqlite.py
  cfgov/cfgov/settings/local_sqlite_nomigrations.py
  cfgov/cfgov/settings/production.py
  cfgov/cfgov/settings/test.py
  cfgov/cfgov/settings/test_acceptance.py
  cfgov/v1/db_router.py
  cfgov/v1/tests/test_db_router.py
  docker-compose.yml
  docs/installation.md
  docs/usage.md
  refresh-data.sh
  requirements/deployment.txt
  requirements/libraries.txt
  requirements/local.txt
  requirements/postgres.txt
  runserver.sh
  setup.sh
  tox.ini
Due: backend

Removing form explainer flags
  cfgov/cfgov/settings/base.py
  cfgov/cfgov/urls.py
Due: backend

Fix regex pattern
  cfgov/cfgov/urls.py
Due: backend

Fix for linter
  cfgov/cfgov/urls.py
Due: backend

Transition forbidden keys util to util module | remove jQuery
  cfgov/jinja2/v1/owning-a-home/explore-rates/index.html
  cfgov/unprocessed/apps/owning-a-home/css/explore-rates.less
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/params.js
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/rate-checker.js
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/util.js
  test/unit_tests/apps/owning-a-home/js/explore-rates/params-spec.js
  test/unit_tests/apps/owning-a-home/js/explore-rates/rate-checker-spec.js
  test/unit_tests/apps/owning-a-home/js/explore-rates/util-spec.js
Due: frontend

Remove empty function, linter fixes
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/rate-checker.js
Due: frontend

Fixed timestamp so all US timezones will pass
  test/unit_tests/apps/owning-a-home/js/explore-rates/util-spec.js
Due: none

Fix for jests tests on Travis
  gulp/tasks/test.js
Due: none

Move add commas util to util module
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/rate-checker.js
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/util.js
  test/unit_tests/apps/owning-a-home/js/explore-rates/rate-checker-spec.js
  test/unit_tests/apps/owning-a-home/js/explore-rates/util-spec.js
Due: frontend

Linter fixes
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/rate-checker.js
  test/unit_tests/apps/owning-a-home/js/explore-rates/rate-checker-spec.js
Due: frontend

Bump TDP release version to 0.4.3
  requirements/optional-public.txt
Due: none

Remove unnecessary nesting
  cfgov/unprocessed/apps/owning-a-home/js/dom-tools.js
Due: frontend

Add documentation and minor refactoring
  cfgov/unprocessed/apps/owning-a-home/js/dom-tools.js
Due: frontend

Add initial dom tool spec
  test/unit_tests/apps/owning-a-home/js/dom-tools-spec.js
Due: none

Bump oah-api version.
  requirements/optional-public.txt
Due: none

Updates fake emails
  cfgov/jinja2/v1/_includes/macros/subscribe.html
  cfgov/jinja2/v1/_includes/organisms/reg-comment.html
Due: none

Linter fixes
  cfgov/unprocessed/apps/owning-a-home/js/dom-tools.js
  test/unit_tests/apps/owning-a-home/js/dom-tools-spec.js
Due: frontend

only warn about deprecated db variables locally
  cfgov/cfgov/settings/base.py
  cfgov/cfgov/settings/local.py
Due: backend

Move rate checker chart code to its own module
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/RCChart.js
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/Slider.js
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/rate-checker.js
  cfgov/unprocessed/apps/owning-a-home/package-lock.json
  cfgov/unprocessed/apps/owning-a-home/package.json
  package-lock.json
  test/unit_tests/apps/owning-a-home/js/explore-rates/RCChart-spec.js
  test/unit_tests/apps/owning-a-home/js/explore-rates/dom-values-spec.js
  test/unit_tests/apps/owning-a-home/js/explore-rates/rate-checker-spec.js
Due: frontend

Fix mega menu jank
  cfgov/jinja2/v1/_includes/organisms/mega-menu.html
  cfgov/unprocessed/js/organisms/MegaMenu.js
Due: frontend

Show mega menu when JS is disabled
  cfgov/unprocessed/css/organisms/mega-menu.less
Due: none

Rename RCChart to RateCheckerChart
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/RateCheckerChart.js
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/rate-checker.js
  test/unit_tests/apps/owning-a-home/js/explore-rates/RateCheckerChart-spec.js
Due: frontend

Bump TDP release version to 0.5.0
  requirements/optional-public.txt
Due: none

Init notifications in the correct location
  cfgov/unprocessed/js/organisms/FormSubmit.js
  test/unit_tests/js/organisms/FormSubmit-spec.js
Due: frontend

Review fixes
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/RateCheckerChart.js
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/rate-checker.js
  test/unit_tests/apps/owning-a-home/js/explore-rates/RateCheckerChart-spec.js
Due: frontend

Fix indent
  test/unit_tests/apps/owning-a-home/js/explore-rates/rate-checker-spec.js
Due: none

Path conditions:
  backend: any of: cfgov/**/*.py
  frontend: any of: cfgov/**/*.js
