Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

add inactive user warning, some autopep8
  cfgov/permissions_viewer/templates/permissions_viewer/user.html
  cfgov/permissions_viewer/views.py
  cfgov/permissions_viewer/wagtail_hooks.py
Due: backend

Change series to parallel
  gulpfile.js
Due: none

Fix formatting
  gulp/tasks/watch.js
Due: none

beginning work on tests
  cfgov/permissions_viewer/templates/permissions_viewer/user.html
  cfgov/permissions_viewer/test_views.py
  cfgov/permissions_viewer/tests.py
Due: backend

put the tests in the right directory
  cfgov/permissions_viewer/tests/test_views.py
Due: backend

a test
  cfgov/permissions_viewer/tests/test_views.py
Due: backend

remove PDB
  cfgov/permissions_viewer/tests/test_views.py
Due: backend

linter: happier, more productive
  cfgov/permissions_viewer/tests/test_views.py
Due: backend

Add test for group page
  cfgov/permissions_viewer/tests/test_views.py
Due: backend

add test for index page
  cfgov/permissions_viewer/tests/test_views.py
Due: backend

fix broken test, and use url tag in roster template
  cfgov/permissions_viewer/templates/permissions_viewer/group.html
  cfgov/permissions_viewer/tests/test_views.py
Due: backend

Revert "Update to gulp 4"
  gulp/tasks/build.js
  gulp/tasks/clean.js
  gulp/tasks/copy.js
  gulp/tasks/default.js
  gulp/tasks/docs.js
  gulp/tasks/images.js
  gulp/tasks/lint.js
  gulp/tasks/scripts.js
  gulp/tasks/styles.js
  gulp/tasks/test.js
  gulp/tasks/watch.js
  gulpfile.js
  package-lock.json
  package.json
Due: none

General fixes.
  cfgov/jinja2/v1/job-description-page/index.html
  cfgov/jobmanager/models/pages.py
  cfgov/scripts/create_career_types.py
Due: backend

Update migration
  cfgov/jobmanager/migrations/0016_add_job_length_and_service_type.py
Due: backend

Remove unncessary list_display in modeladmin.
  cfgov/jobmanager/wagtail_hooks.py
Due: backend

Update urlopen import
  cfgov/scripts/unpublish_closed_jobs.py
Due: backend

avoid unneccessary redirect on remote.loader.js
  cfgov/jinja2/v1/_includes/on-demand/footer.html
  cfgov/jinja2/v1/_layouts/base.html
Due: none

add a test for group permissions
  cfgov/permissions_viewer/tests/test_views.py
Due: backend

Downgrade moto to address Jinja2 version conflict
  requirements/test.txt
Due: none

use the free Client instance provided by Django's TestCase
  .isort.cfg
  cfgov/permissions_viewer/tests/test_views.py
Due: backend

Use venv-update (w/pip-faster) to speed up tox
  requirements/local.txt
  requirements/travis.txt
  tox.ini
Due: none

This commit fixes an issue with filterable lists (see GHE platform issue #597) by updating cf-forms and changing the related JavaScript to use new classes (atoms and molecules).
  cfgov/unprocessed/js/molecules/Multiselect.js
  package-lock.json
  package.json
Due: frontend

order usernames and group names
  cfgov/permissions_viewer/views.py
Due: backend

Review fixes
  cfgov/jinja2/v1/job-description-page/index.html
  cfgov/unprocessed/css/pages/careers.less
  cfgov/unprocessed/js/routes/on-demand/read-more.js
Due: frontend

Remove dependency on BeautifulSoup 3
  cfgov/agreements/templates/agreements/issuer_select.html
  cfgov/agreements/tests/test_legacy.py
  requirements/base.txt
Due: backend

Document Python 3 testability
  docs/testing-be.md
Due: none

Improve python3-compatibility so tests are runnable
  cfgov/alerts/tests/test_send_new_relic_messages_to_sqs.py
  cfgov/ask_cfpb/models/django.py
  cfgov/ask_cfpb/models/pages.py
  cfgov/ask_cfpb/scripts/migrate_knowledgebase.py
  cfgov/ask_cfpb/templatetags/accent_stripper.py
  cfgov/ask_cfpb/views.py
  cfgov/cfgov/tests/test_urls.py
  cfgov/core/utils.py
  cfgov/data_research/mortgage_utilities/sql_utils.py
  cfgov/jobmanager/tests/models/test_pages.py
  cfgov/legacy/housing_counselor/geocoder.py
  cfgov/processors/processors_common.py
  cfgov/scripts/update_es_settings.py
  cfgov/sheerlike/external_links.py
  cfgov/sheerlike/indexer.py
  cfgov/sheerlike/query.py
  cfgov/sheerlike/templates.py
  cfgov/v1/__init__.py
  cfgov/v1/atomic_elements/organisms.py
  cfgov/v1/management/commands/utils.py
  cfgov/v1/models/base.py
  cfgov/v1/models/learn_page.py
Due: backend

Run python3 lint and tests in Travis but don't fail the build
  .travis.yml
  install_travis.sh
  run_travis.sh
Due: none

Fix env name in envlist
  tox.ini
Due: none

Allow testing with python3.6
  tox.ini
Due: none

remove reversion
  cfgov/cfgov/settings/base.py
  cfgov/core/migrations/0001_initial.py
  requirements/base.txt
Due: backend

removed migration
  cfgov/core/migrations/0001_initial.py
  cfgov/core/migrations/__init__.py
Due: backend

deprecate python unit testing of optional apps
  cfgov/cfgov/test.py
  tox.ini
Due: backend

Use a list comprehension to make test work with bs4
  cfgov/agreements/templates/agreements/issuer_select.html
  cfgov/agreements/tests/test_legacy.py
Due: backend

flake8
  cfgov/cfgov/test.py
Due: backend

Fix some additional imports
  cfgov/ask_cfpb/scripts/export_ask_data.py
  cfgov/ask_cfpb/tests/models/test_pages.py
  cfgov/ask_cfpb/views.py
  cfgov/v1/wagtail_hooks.py
Due: backend

Check for option selected=True
  cfgov/agreements/tests/test_legacy.py
Due: backend

Update display names for categories
  cfgov/v1/migrations/0100_update_display_names_for_categories.py
  cfgov/v1/tests/util/test_ref.py
  cfgov/v1/util/ref.py
Due: backend

tweak whitespace for post preview meta-header, update html in topdoc
  cfgov/unprocessed/css/organisms/post-preview.less
Due: none

Update cf-typography dependency
  package-lock.json
  package.json
Due: none

Path conditions:
  backend: any of: cfgov/**/*.py
  frontend: any of: cfgov/**/*.js
