Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Fix for Travis
  test/unit_tests/apps/owning-a-home/js/dropdown-utils-spec.js
Due: none

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

upgrade to latest cf-core to get demibold cross-browser fixes
  package-lock.json
  package.json
Due: none

Adds template-loader
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/index.js
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/template-loader.js
  cfgov/unprocessed/apps/owning-a-home/templates/explore-rates/chart-tooltip-multiple.hbs
  cfgov/unprocessed/apps/owning-a-home/templates/explore-rates/credit-alert.hbs
  cfgov/unprocessed/apps/owning-a-home/templates/explore-rates/down-payment-warning.hbs
  cfgov/unprocessed/apps/owning-a-home/templates/explore-rates/fail-alert.hbs
  cfgov/unprocessed/apps/owning-a-home/templates/explore-rates/result-alert.hbs
  gulp/config.js
  gulp/tasks/test.js
  jest.config.js
  test/unit_tests/apps/owning-a-home/js/explore-rates/template-loader-spec.js
  test/util/preprocessor-handlebars.js
Due: frontend

Ignore webpack-config in code coverage
  jest.config.js
Due: none

Update webpack deps
  package-lock.json
  package.json
Due: none

Fix throttle reference
  cfgov/unprocessed/js/modules/util/email-popup-helpers.js
  cfgov/unprocessed/js/modules/util/throttle.js
Due: frontend

Remove redundant throttle function
  cfgov/unprocessed/js/modules/util/email-popup-helpers.js
Due: frontend

Replace throttle with lodash.throttle
  cfgov/unprocessed/apps/owning-a-home/js/form-explainer.js
  cfgov/unprocessed/js/modules/util/email-popup-helpers.js
  cfgov/unprocessed/js/modules/util/throttle.js
  cfgov/unprocessed/js/molecules/Autocomplete.js
  package-lock.json
  package.json
Due: frontend

Revert test code
  cfgov/unprocessed/js/modules/util/email-popup-helpers.js
Due: frontend

Fix data-set spec coverage
  test/unit_tests/js/modules/util/data-set-spec.js
Due: none

Replace data-set.js with elem-dataset pony fill
  cfgov/unprocessed/js/modules/VideoPlayer.js
  cfgov/unprocessed/js/modules/util/data-set.js
  package-lock.json
  package.json
  test/unit_tests/js/modules/util/data-set-spec.js
Due: frontend

Add full coverage for atomic-helpers
  cfgov/unprocessed/js/modules/util/atomic-helpers.js
  test/unit_tests/js/modules/util/atomic-helpers-spec.js
Due: frontend

Add more breakpoint state coverage
  test/unit_tests/js/modules/util/breakpoint-state-spec.js
Due: none

Ignore develop-apps
  .flake8
Due: none

Fox tox changedir that prevented linting
  tox.ini
Due: none

Bump flake8 version
  requirements/test.txt
Due: none

Simplify linting deps
  tox.ini
Due: none

Fix linting errors
  cfgov/ask_cfpb/templatetags/accent_stripper.py
  cfgov/data_research/mortgage_utilities/fips_meta.py
  cfgov/jobmanager/models/pages.py
  cfgov/scripts/create_career_locations.py
  cfgov/scripts/fix_links_in_tableblocks.py
  cfgov/scripts/static_asset_smoke_test.py
  cfgov/sheerlike/__init__.py
  cfgov/v1/__init__.py
  cfgov/v1/admin.py
  cfgov/v1/models/base.py
  cfgov/v1/signals.py
  cfgov/v1/views/__init__.py
Due: backend

Fix import sorting
  cfgov/agreements/management/commands/import_agreements.py
  cfgov/agreements/management/commands/util.py
  cfgov/agreements/tests/test_management.py
  cfgov/alerts/send_new_relic_messages_to_sqs.py
  cfgov/alerts/tests/test_send_new_relic_messages_to_sqs.py
  cfgov/alerts/tests/test_sqs_queue.py
  cfgov/ask_cfpb/tests/test_views.py
  cfgov/core/govdelivery.py
  cfgov/core/tests/test_govdelivery.py
  cfgov/data_research/forms.py
  cfgov/data_research/research_conference.py
  cfgov/data_research/tests/management/commands/test_conference_delete.py
  cfgov/data_research/tests/management/commands/test_conference_notify.py
  cfgov/jobmanager/models/__init__.py
  cfgov/jobmanager/models/django.py
  cfgov/jobmanager/models/pages.py
  cfgov/jobmanager/signals.py
  cfgov/jobmanager/tests/models/test_pages.py
  cfgov/jobmanager/tests/test_signals.py
  cfgov/jobmanager/wagtail_hooks.py
  cfgov/legacy/housing_counselor/geocoder.py
  cfgov/permissions_viewer/tests/test_views.py
  cfgov/permissions_viewer/urls.py
  cfgov/permissions_viewer/views.py
  cfgov/permissions_viewer/wagtail_hooks.py
  cfgov/scripts/create_career_locations.py
  cfgov/scripts/create_career_types.py
  cfgov/scripts/tests/test_unpublish_closed_jobs.py
  cfgov/scripts/unpublish_closed_jobs.py
  cfgov/sheerlike/external_links.py
  cfgov/v1/__init__.py
  cfgov/v1/handlers/blocks/feedback.py
  cfgov/v1/tests/handlers/blocks/test_feedback.py
  cfgov/v1/tests/models/test_browse_filterable_page.py
  cfgov/v1/tests/test_filterable_list.py
  cfgov/v1/tests/test_wagtail_hooks.py
Due: backend

Fix test failure caused by linting fix
  cfgov/v1/__init__.py
Due: backend

Use venv-update (w/pip-faster) to speed up tox
  requirements/local.txt
  requirements/travis.txt
  tox.ini
Due: none

Downgrade moto to address Jinja2 version conflict
  requirements/test.txt
Due: none

Remove secondary dependency
  requirements/test.txt
Due: none

Updates test reps + removes extraneous
  package-lock.json
  package.json
  test/browser_tests/cucumber/step_definitions/application.js
  test/browser_tests/cucumber/step_definitions/filterable-list-control.js
  test/browser_tests/cucumber/step_definitions/filterable-page.js
  test/browser_tests/cucumber/step_definitions/global-search.js
  test/browser_tests/cucumber/step_definitions/header.js
  test/browser_tests/cucumber/step_definitions/mega-menu.js
  test/browser_tests/cucumber/step_definitions/multi-select.js
  test/browser_tests/cucumber/step_definitions/pagination.js
  test/browser_tests/cucumber/step_definitions/reusable-text-snippets.js
  test/browser_tests/cucumber/step_definitions/wagtail-admin-link-chooser.js
  test/browser_tests/cucumber/step_definitions/wagtail-admin-login.js
  test/browser_tests/cucumber/step_definitions/wagtail-admin-pages.js
  test/browser_tests/cucumber/step_definitions/wagtail-admin-rich-text-editor.js
  test/browser_tests/cucumber/step_definitions/webpack-build.js
Due: none

Fix for webpack build regex
  test/browser_tests/cucumber/step_definitions/webpack-build.js
Due: none

Fix for linter
  jest.config.js
Due: none

Adjustments to rate checker css and layout
  cfgov/jinja2/v1/owning-a-home/explore-rates/index.html
  cfgov/unprocessed/apps/owning-a-home/css/explore-rates.less
  cfgov/unprocessed/apps/owning-a-home/css/form-field-with-button.less
  cfgov/unprocessed/apps/owning-a-home/css/forms.less
  cfgov/unprocessed/apps/owning-a-home/css/helpers.less
  cfgov/unprocessed/apps/owning-a-home/css/layout.less
  cfgov/unprocessed/apps/owning-a-home/css/main.less
  cfgov/unprocessed/apps/owning-a-home/css/mixins.less
  cfgov/unprocessed/apps/owning-a-home/css/tab.less
  cfgov/unprocessed/apps/owning-a-home/img/footer_calculator.png
  cfgov/unprocessed/apps/owning-a-home/img/footer_house.png
  cfgov/unprocessed/apps/owning-a-home/img/ill-chart.png
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/template-loader.js
  cfgov/unprocessed/apps/owning-a-home/package-lock.json
  cfgov/unprocessed/apps/owning-a-home/package.json
  cfgov/unprocessed/apps/owning-a-home/templates/chart-tooltip-multiple.hbs
  cfgov/unprocessed/apps/owning-a-home/templates/chart-tooltip-single.hbs
  cfgov/unprocessed/apps/owning-a-home/templates/county-conf-warning.hbs
  cfgov/unprocessed/apps/owning-a-home/templates/county-fha-warning.hbs
  cfgov/unprocessed/apps/owning-a-home/templates/county-general-warning.hbs
  cfgov/unprocessed/apps/owning-a-home/templates/county-option.hbs
  cfgov/unprocessed/apps/owning-a-home/templates/county-va-warning.hbs
  cfgov/unprocessed/apps/owning-a-home/templates/credit-alert.hbs
  cfgov/unprocessed/apps/owning-a-home/templates/down-payment-warning.hbs
  cfgov/unprocessed/apps/owning-a-home/templates/fail-alert.hbs
  cfgov/unprocessed/apps/owning-a-home/templates/prepare-worksheets/input-graded.hbs
  cfgov/unprocessed/apps/owning-a-home/templates/prepare-worksheets/input-notes.hbs
  cfgov/unprocessed/apps/owning-a-home/templates/prepare-worksheets/page-notes.hbs
  cfgov/unprocessed/apps/owning-a-home/templates/prepare-worksheets/page-summary-error.hbs
  cfgov/unprocessed/apps/owning-a-home/templates/prepare-worksheets/page-summary-section.hbs
  cfgov/unprocessed/apps/owning-a-home/templates/prepare-worksheets/page-summary.hbs
  cfgov/unprocessed/apps/owning-a-home/templates/prepare-worksheets/page-worksheets.hbs
  cfgov/unprocessed/apps/owning-a-home/templates/prepare-worksheets/worksheet-graded-editor.hbs
  cfgov/unprocessed/apps/owning-a-home/templates/prepare-worksheets/worksheet-notes-editor.hbs
  cfgov/unprocessed/apps/owning-a-home/templates/result-alert.hbs
  cfgov/unprocessed/apps/owning-a-home/templates/slider-range-label.hbs
  cfgov/unprocessed/apps/owning-a-home/webpack-config.js
Due: frontend

Fix for webpack alias
  jest.config.js
Due: none

Remove extraneous gulp-babel
  package-lock.json
  package.json
Due: none

Revision for code review
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/template-loader.js
  cfgov/unprocessed/apps/owning-a-home/webpack-config.js
  jest.config.js
Due: frontend

Fix for linter and though2
  config/webpack-config.js
  gulp/tasks/lint.js
  gulp/tasks/test.js
Due: none

Removing gulp-util
  gulp/tasks/lint.js
  gulp/tasks/test.js
  package-lock.json
  package.json
Due: none

Fix for node version dependency
  package-lock.json
Due: none

Fix typo
  cli-flag.sh
Due: none

Add Q4 agreements to page
  cfgov/agreements/templates/agreements/index.html
Due: none

Add Q4 agreements to page (#3896)
  cfgov/agreements/templates/agreements/index.html
Due: none

Disable R3K node modules caching
  .travis.yml
  test/unit_tests/apps/regulations3k/js/module1-spec.js
Due: none

Path conditions:
  backend: any of: cfgov/**/*.py
  frontend: any of: cfgov/**/*.js
