Repository cfpb/consumerfinance.gov: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Bump TDP release version to 0.3.1
  requirements/optional-public.txt
Due: none

Add Slider tests and move to own class
  cfgov/jinja2/v1/owning-a-home/explore-rates/index.html
  cfgov/unprocessed/apps/owning-a-home/css/a-range.less
  cfgov/unprocessed/apps/owning-a-home/css/explore-rates.less
  cfgov/unprocessed/apps/owning-a-home/css/main.less
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/Slider.js
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/rate-checker.js
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/template-loader.js
  cfgov/unprocessed/apps/owning-a-home/package-lock.json
  cfgov/unprocessed/apps/owning-a-home/package.json
  cfgov/unprocessed/apps/owning-a-home/templates/slider-range-label.hbs
  package-lock.json
  test/unit_tests/apps/owning-a-home/js/explore-rates/Slider-spec.js
  test/unit_tests/apps/owning-a-home/js/explore-rates/rate-checker-spec.js
  test/unit_tests/apps/owning-a-home/js/explore-rates/template-loader-spec.js
Due: frontend

Update code comment
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/Slider.js
  package-lock.json
Due: frontend

Update email-signup template
  cfgov/jinja2/v1/_includes/molecules/form-field-with-button.html
  cfgov/jinja2/v1/owning-a-home/_templates/email-signup.html
Due: none

Add validation tests for TextIntroduction
  cfgov/unprocessed/apps/owning-a-home/package-lock.json
  cfgov/v1/tests/atomic_elements/test_molecules.py
Due: backend

Fix line length issue.
  cfgov/v1/atomic_elements/molecules.py
Due: backend

Change askcfpb page imports order.
  cfgov/ask_cfpb/models/pages.py
  cfgov/ask_cfpb/tests/models/test_pages.py
Due: backend

Resolve conflicting migrations.
  cfgov/v1/migrations/0105_add_eyebrow_to_text_introduction.py
Due: backend

Bump TDP release version to 0.3.2
  requirements/optional-public.txt
Due: none

Fix process segment check for Ask journey breadcrumbs.
  cfgov/ask_cfpb/models/pages.py
  cfgov/ask_cfpb/tests/models/test_pages.py
Due: backend

Update process segment check for Ask journey breadcrumbs.
  cfgov/ask_cfpb/models/pages.py
Due: backend

Bump TDP release version to 0.3.3
  requirements/optional-public.txt
Due: none

Updates autoprefixer to 8 and gulp-modernizr-build to 0.0.6
  package-lock.json
  package.json
Due: none

Bump TDP release version to 0.3.4
  requirements/optional-public.txt
Due: none

Fix for testing on sauce
  gulp/tasks/test.js
  test/browser_tests/conf.js
  test/browser_tests/cucumber/step_definitions/mega-menu.js
  test/browser_tests/default-suites.js
  test/browser_tests/page_objects/base-filterable-page.js
  test/browser_tests/page_objects/base-page.js
Due: none

Review updates
  cfgov/jinja2/v1/_includes/molecules/text-introduction.html
  cfgov/unprocessed/css/enhancements/base.less
  cfgov/v1/atomic_elements/molecules.py
Due: backend

Remove top margin from text inputs preceded by heading labels.
  cfgov/unprocessed/css/enhancements/forms.less
  cfgov/unprocessed/css/organisms/email-signup.less
Due: none

Remove header element and update eyebrow spacing.
  cfgov/jinja2/v1/_includes/molecules/text-introduction.html
  cfgov/unprocessed/css/enhancements/base.less
Due: none

Fixes for testing in parallel
  .gitignore
  gulp/tasks/test.js
  test/browser_tests/cucumber/features/suites/default/filterable-list-controls.feature
  test/browser_tests/cucumber/features/suites/default/multi-select.feature
  test/browser_tests/cucumber/step_definitions/multi-select.js
  test/browser_tests/default-suites.js
  test/browser_tests/shared_objects/multi-select.js
Due: none

Bump TDP release version to 0.4.0
  requirements/optional-public.txt
Due: none

Testing
  .travis.yml
  config/environment.js
  test/browser_tests/conf.js
  tox.ini
Due: none

Update eyebrow class.
  cfgov/jinja2/v1/_includes/molecules/text-introduction.html
  cfgov/unprocessed/css/enhancements/base.less
  cfgov/unprocessed/css/enhancements/typography.less
Due: none

Fix for testing on sauce
  .gitignore
  .travis.yml
  config/environment.js
  gulp/.eslintrc
  gulp/tasks/test.js
  test/browser_tests/conf.js
  test/browser_tests/cucumber/features/suites/default/filterable-list-controls.feature
  test/browser_tests/cucumber/features/suites/default/multi-select.feature
  test/browser_tests/cucumber/step_definitions/mega-menu.js
  test/browser_tests/cucumber/step_definitions/multi-select.js
  test/browser_tests/default-suites.js
  test/browser_tests/page_objects/base-filterable-page.js
  test/browser_tests/page_objects/base-page.js
  test/browser_tests/shared_objects/multi-select.js
  tox.ini
  travis_run.sh
Due: none

Fix outdated analytics selector
  cfgov/unprocessed/apps/analytics-gtm/js/bah-loan-estimate-listeners.js
Due: frontend

Move isVisible and checkIfZero to utils
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/rate-checker.js
  cfgov/unprocessed/apps/owning-a-home/js/explore-rates/util.js
  test/unit_tests/apps/owning-a-home/js/explore-rates/util-spec.js
Due: frontend

properly ignore mac icon files
  .gitignore
Due: none

add new svg_icon template tag to render SVG icons
  .gitignore
  cfgov/cfgov/settings/base.py
  cfgov/core/jinja2tags.py
  cfgov/core/templatetags/svg_icon.py
  cfgov/core/tests/staticfiles/icons/invalid.svg
  cfgov/core/tests/staticfiles/icons/test.svg
  cfgov/core/tests/templatetags/test_svg_icon.py
  cfgov/core/tests/test_jinja2tags.py
Due: backend

add ability to mock static files in tests
  cfgov/core/tests/testutils/__init__.py
  cfgov/core/tests/testutils/test_mock_staticfiles.py
  cfgov/core/testutils/__init__.py
  cfgov/core/testutils/mock_staticfiles.py
Due: backend

Update form-field-with-button spacing
  cfgov/unprocessed/css/molecules/form-field-with-button.less
  cfgov/unprocessed/css/organisms/email-signup.less
Due: none

Remove routing for OAH pages that have been migrated to Wagtail.
  cfgov/cfgov/settings/base.py
  cfgov/cfgov/urls.py
Due: backend

Remove mortgage-closing and mortgage-estimate templates.
  cfgov/jinja2/v1/owning-a-home/mortgage-closing/index.html
  cfgov/jinja2/v1/owning-a-home/mortgage-estimate/index.html
Due: none

Updating testing dependencies
  package-lock.json
  package.json
Due: none

Updating testing dependencies
  package-lock.json
Due: none

Re-generate package-lock
  package-lock.json
Due: none

Fixes for closing disclosure
  cfgov/jinja2/v1/owning-a-home/closing-disclosure/index.html
  cfgov/unprocessed/apps/owning-a-home/js/Expandable.js
  cfgov/unprocessed/apps/owning-a-home/js/form-explainer.js
Due: frontend

Re-generate package-lock.json
  package-lock.json
Due: none

Remove extra lines in less file.
  cfgov/unprocessed/css/enhancements/base.less
Due: none

Fix spacing issues.
  cfgov/unprocessed/css/molecules/form-field-with-button.less
  cfgov/unprocessed/css/organisms/email-signup.less
Due: none

Bump TDP release version to 0.4.1
  requirements/optional-public.txt
Due: none

Fix for spelling error
  cfgov/unprocessed/apps/owning-a-home/js/form-explainer.js
Due: frontend

Path conditions:
  backend: any of: cfgov/**/*.py
  frontend: any of: cfgov/**/*.js
